body, html{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}
.sect1{
    width: 100%;
    background-image: url('/assets/images/desktop/image-header.jpg');
    background-size: cover;
    box-sizing: border-box;
    height: 640px;

    display: flex;
    flex-direction: column;
}
.menu{
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.menu ul li{
    display: inline;
    margin-left: 30px;
}
.menu ul li a{
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: #2deee1;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.sunny {
    font-size: 30px;
    color: antiquewhite;
}

.title{
    margin-top: 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 70px;
    color: aliceblue;
}
.arrow{
    width: 70px;
    height: 150px;
    margin-top: 30px;
    margin-left: 650px;
}
#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.item {
    height: 500px;
    background-color: bisque;
}
.item-image{
    height: 500px;
}
.gambar{
    width: 100%;
    height: 500px;
}
.trans, .trans2{
    margin: 100px 70px 30px 100px;
    font-size: 50px;
}
.caption, .caption2{
    margin-left: 100px;
    margin-right: 200px;
}
.btn1, .btn2{
    margin-left: 95px;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    
}
.btn1:hover{
    box-shadow: 10px 12px 10px #cfdc1e;
}
.btn2:hover{
    box-shadow: 10px 12px 10px #cd321d;
}
.client{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#grid2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}
.imgtesti{
    margin-left: 100px;
    border-radius: 50% 50% 50% 50%;
    width: 100px;
    height: 100px;
}
.coment{
    margin-left: 20px;
}
.namecli{
    margin-bottom: -15px;
}
.postcli{
    margin-bottom: 100px;
}
#grid3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#grid3 img {
    width: 100%;
    height: auto;
    display: block;
}
.capt1, .capt2{
    margin-top: -220px;
}
.graphic, .photography{
    text-align: center;
    font-size: 30px;
}
.captgrap, .captphot{
    text-align: center;
    margin-top: -20px;
    margin-left: 170px;
    margin-right: 170px;
}
footer{
    background-color: rgb(167, 224, 232);
    margin-top: -30px;
}
#footer1 h3{
    text-align: center;
    padding-top: 30px;
}
#footer1 ul li{
    display: inline;
    margin: 20px 30px 20px 10px;
}
#footer1 ul li:hover{
    color: aliceblue;
}
#footer1{
    text-align: center;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.icon img{
    display: block;
    width: 20px;
    height: auto;
    transition: filter 0.3s ease;
}
.icon img:hover{
    filter: invert(1);
}
.mobilemenu{
    display: none;
}
.mobilemenu ul li {
    display: none;
}
@media screen and (max-width: 400px){
    .sunny {
        font-size: 20px;
        color: rgb(202, 150, 81);
    }
    .menu ul li{
        display: none;
    }
    .mobilemenu{
        display: block;
        margin-left: 200px;
    }
    #grid {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
    }
}
/* @media screen 
    and (min-width: 375px)
    and (max-width: 1440px) {
    body, html{
        box-sizing: border-box;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .sunny {
        font-size: 20px;
        color: rgb(202, 150, 81)
    }
    .title{
        margin-top: 10px;
        box-sizing: border-box;
        text-align: center;
        font-size: 20px;
        color: rgb(6, 41, 34);
        margin-left: -80px;
    }
    .sect1{
        background-image: url('/assets/images/desktop/image-header.jpg');
        background-size: cover;
        box-sizing: border-box;
        min-height: 640px;
        display: flex;
        flex-direction: column;
    }
} */